<section class="post clearfix">
  <div>
    {{#link-to 'user.posts' post.user}}<img {{bind-attr src=post.user.imageURL}} alt="User image">{{/link-to}}
  </div>
  <div>
    {{#link-to 'user.posts' post.user}}<h3>{{post.user.name}}</h3>{{/link-to}}
    <p>{{{post-html post.body}}}</p>
    <ul>
      <li>{{displayDate}}</li>
      {{#if belongsToAuthenticatedUser}}
        <li><span>.</span></li>
        <li {{action 'delete' post}}><a>delete</a></li>
      {{else}}
        <li><span>.</span></li>
        <li {{action 'repost' post}}><a>repost</a></li>
      {{/if}}
    </ul>
  </div>
</section>
