<section class="front-signin">
    <h2>Create your account</h2>
    <form class="signin" {{action "create" on="submit"}}>
        <div class="username">
            {{input value=name type="text" placeholder="Enter your name ..."}}
        </div>
        <div class="username">
            {{input value=username type="text" placeholder="Enter your username ..."}}
        </div>
        <div class="password">
            {{input value=password type="password" placeholder="Enter your password ..."}}
        </div>
        <div class="submit">
            <button type="submit" {{bindAttr disabled="isProcessing"}}>Sign Up</button>
            <div class="recover-signup">
                <a href="" class="signup">Log in</a>
            </div>
        </div>
    </form>
</section>
