<header>
	<div class="logo-sml">
		{{#link-to 'telegram'}}
		<img src="../assets/img/tg-logo-sml.png")>
        <h1 class="visuallyhidden">Telegram</h1>
        {{/link-to}}
    </div>
</header>
<div id="page-container" class="username" style="text-align: center;">
	<section>
		{{user_img}}
		<div>
			<img src="../assets/img/stevetyler-img.png" style="height: 70px; width: 70px">
		</div>
		
	</section>
	<section>
		<h3>{{username}}</h3>
	</section>
	<section>
		<h3>{{id}}</h3>
	</section>
	<section>
		<button type="submit" class="submit follow">Follow</button>
	</section>
	<nav class="clearfix">
		<ul>
			<li>{{#link-to}}Posts{{/link-to}}</li>
			<li>{{#link-to}}Following{{/link-to}}</li>
			<li>{{#link-to}}Followers{{/link-to}}</li>
		</ul>
	</nav>
	{{outlet}}
	<section class="post clearfix">
		<div style="" >
			<img src="../assets/img/stevetyler-img.png">
		</div>
		<div class="clearfix">
			<h3>{{username}}</h3>
			<p>hdjahsk akjsdhakjsdh kajshdkajhsd akajshdkajhsdkajhs dkajshdka kajhsd akjsdh akjh ashjd kajh sd  dhajhsjdhakjhshd akjsh d akjshdhda s
			</p>
			<ul>
				<li>2 minutes ago</li>
				<li><span>.</span></li>
				<li>delete</li>
			</ul>
		</div>
	</section>
	<section class="post clearfix">
		<div style="" >
			<img src="../assets/img/stevetyler-img.png">
		</div>
		<div class="clearfix">
			<h3>{{username}}</h3>
			<p>hdjahsk akjsdhakjsdh kajshdkajhsd akajshdkajhsdkajhs dkajshdka kajhsd akjsdh akjh ashjd kajh sd  dhajhsjdhakjhshd akjsh d akjshdhda s
			</p>
			<ul>
				<li>2 minutes ago</li>
				<li><span>.</span></li>
				<li>delete</li>
			</ul>
		</div>
	</section>
	<section class="post clearfix">
		<div style="" >
			<img src="../assets/img/stevetyler-img.png">
		</div>
		<div class="clearfix">
			<h3>{{username}}</h3>
			<p>hdjahsk akjsdhakjsdh kajshdkajhsd akajshdkajhsdkajhs dkajshdka kajhsd akjsdh akjh ashjd kajh sd  dhajhsjdhakjhshd akjsh d akjshdhda s
			</p>
			<ul>
				<li>2 minutes ago</li>
				<li><span>.</span></li>
				<li>delete</li>
			</ul>
		</div>
	</section>
	
	
</div>



