<header>
	{{#link-to}}	
    <div class="home">
        <img src="../assets/img/home.png">
        <h4>Home</h4>
	</div>  
	{{/link-to}}  
	{{#link-to}}	
    <div class="user-link">
        <img src="../assets/img/users/stevetyler.png" style="height: 35px; width: 35px">
        <h4>{{session.user.firstName}}</h4>
	</div>  
	{{/link-to}}  
</header>
<div id="page-container" class="username" style="text-align: center; margin-top: -65px; background: none;">	
	<section class="logo-sml" style="padding-top: 10px;">
		{{#link-to 'telegram'}}
		<img src="../assets/img/tg-logo-sml.png">
        <h1 class="visuallyhidden">Telegram</h1>
        {{/link-to}}
   	</section>
	<section>
		<form style="font-size: 1.6em; border: none; padding-top: 1em;" {{action "publish" on="submit"}}>
			{{textarea placeholder='Create post ...' value=post cols='45' rows='5'}}
			<button type="submit" class="follow" style="font-size: 0.65em;">Publish</button>	
		</form>
	</section>
	<nav class="clearfix" style="height: 49px">
		<ul class="center" style="float: none; display: inline-block; text-align: center; width: auto; margin: 0;">
			<li>Latest Posts</li>
		</ul>
	</nav>

	{{#each post in controller}}
	<section class="post clearfix">
		<div style="">
			<img {{bind-attr src=post.user.imageURL}} alt="User image">
		</div>
		<div class="clearfix">
			<h3>{{post.user.id}}</h3>
			<p>{{post.body}}</p>
			<ul>
				<li>2 minutes ago</li>
				<li><span>.</span></li>
				<li>delete</li>
			</ul>
		</div>
	</section>
	{{/each}}

</div>

