{{partial "header"}}
<div class="page-container">
	<form class="create-post clearfix" {{action "publish" on="submit"}}>
	 {{textarea placeholder='Create post ...' value=newPost rows='3'}}
		<div class="clearfix">
      <span {{bind-attr class="charLimit"}}>{{controller.charCount}} characters</span>
      <button type="submit">Publish</button>
    </div>
	</form>
	</section>
	<nav>
		<ul class="latest">
			<li><span>Latest Posts</span></li>
		</ul>
	</nav>
  <!-- need to use itemController for multiple arrays -->
	{{#each post in controller itemController="post"}}
  	{{post-block repostConfirm=repostConfirm post=post authenticatedUser=session.user}}
    {{#if repostConfirm}}
      {{repost-confirmation yesRepost=repost noRepost=unRepost}}
    {{/if}}
      <!-- <span class="empty-stream">You have no posts to display</span> -->
	{{/each}}
</div>

