{{partial "header"}}

<div class="page-container">
	<form class="create-post clearfix" {{action "publish" on="submit"}}>
	 {{textarea placeholder='Create post ...' value=newPost rows='3'}}
		<div class="clearfix">
      <span style="" {{bind-attr class="charLimit"}}>{{controller.charCount}} characters</span>
      <button type="submit">Publish</button>
    </div>
	</form>
	</section>
	<nav>
		<ul class="latest">
			<li><span>Latest Posts</span></li>
		</ul>
	</nav>
	{{#each post in controller}}

    {{post-block post=post authenticatedUser=session.user}}
		{{#if repostConfirm}}
      {{repost-confirmation yesRepost="yesRepost" noRepost="unrepost"}}
    {{/if}}
    {{else}}
      <h3>You have no posts to display</h3>
  {{/each}}
</div>

