<header>
	{{#link-to 'telegram'}}
    <div class="home">
        <img src="../assets/img/home.png">
        <h4>Home</h4>
	</div>
	{{/link-to}}
    {{#link-to 'user.posts' session.user}}
    <div class="user-link">
        <img {{bind-attr src=session.user.imageURL}} style="height: 35px; width: 35px">
        <h4>{{session.user.name}}</h4>
	</div>
	{{/link-to}}
</header>
<div id="page-container" class="username" style="text-align: center; margin-top: -65px; background: none;">
	<section class="logo-sml" style="padding-top: 10px;">
		<img src="../assets/img/tg-logo-sml.png">
        <h1 class="visuallyhidden">Telegram</h1>
   	</section>
	<section>
		<form class="clearfix "style="font-size: 1.6em; border: none; padding-top: 1em;" {{action "publish" on="submit"}}>
			{{textarea placeholder='Create post ...' value=newPost cols='45' rows='3'}}
			<div class="vcenter clearfix" style="line-height: 2em;">
                <span style="display: inline-block; float: left; font-size: 0.75em; padding-left: 24px; vertical-align: middle;" {{bind-attr class="charLimit"}}>{{controller.characters}} characters</span>
            	<button type="submit" class="follow" style="float: right; font-size: 0.65em; display: inline-block; vertical-align: middle; margin: 8px 0; margin-right: 24px;">Publish</button>
        	</div>
		</form>
	</section>
	<nav class="clearfix" style="height: 49px">
		<ul class="center" style="float: none; display: inline-block; text-align: center; width: auto; margin: 0;">
			<li>Latest Posts</li>
		</ul>
	</nav>

	{{#each post in controller}}

	<!-- {{my-stream-post}} -->
	<section class="post clearfix">
		<div style="">
			{{#link-to 'user.posts' post.user}}<img {{bind-attr src=post.user.imageURL}} alt="User image">{{/link-to}}
		</div>
		<div class="clearfix">
			{{#link-to 'user.posts' post.user}}<h3>{{post.user.id}}</h3>{{/link-to}}
			<p>{{post.body}}</p>
			<ul>
				<li>{{post.displayDate}}</li>
				<li><span>.</span></li>
				<li {{action 'delete' post}}><a>delete</a></li>
			</ul>
		</div>
	</section>
	{{/each}}

</div>

